<app-header></app-header>
<!-- 
<div>
  <h1> {{ title | uppercase | lowercase }} </h1>
  <p *ngIf="!y"> {{ 1 + 3 + x + getNumber() }} </p>
  <p> {{ text }} </p>
  <input class="form-control" type="text" [(ngModel)]="text" >
  <button class="btn btn-info" (click)="fillText()" [disabled]="y" >Click Me <i class="bi bi-bookmark-heart-fill"></i></button>
  <div>
    <div *ngFor="let item of tab">
      <p><b>Item : </b> {{ item }} </p>
    </div>
  </div>
</div>
<app-list-suggestion></app-list-suggestion>
-->
<router-outlet></router-outlet>
<app-footer></app-footer>